NET "clk_in" TNM_NET = "clk_in";
TIMESPEC "TS_clk_in" = PERIOD "clk_in" 20 ns HIGH 50 %;
NET "clk_in" LOC = "T9";

##########################################################
## SERIALE UART E RESET

NET "reset" LOC = "L14";
# NET "reset" CLOCK_DEDICATED_ROUTE = FALSE;
NET "uart_read" LOC = "T13";
NET "uart_write" LOC = "R13";

##########################################################
## A2 EXPANSION CONNECTOR
## SFP CONNECTION

# PIN 04
NET "rate_select" LOC="E6" | IOSTANDARD = "LVTTL";
# PIN 05
NET "t_fault" 	  LOC="D5" | IOSTANDARD = "LVTTL";
# PIN 06
NET "t_dis" 	  LOC="C5" | IOSTANDARD = "LVTTL";
# PIN 07
NET "los" 	  LOC="D6" | PULLUP | IOSTANDARD = "LVTTL";

# Module Definition 2. Data line for Serial ID.
# PIN 08
NET "mod_def<2>"  LOC="C6" | PULLUP | IOSTANDARD = "LVTTL";

# Module Definition 1. Clock line for Serial ID.
# PIN 09
NET "mod_def<1>"  LOC="E7" | PULLUP | IOSTANDARD = "LVTTL";

# Module Definition 0. Grounded within the module.
# PIN 10
NET "mod_def<0>"  LOC="C7" | PULLUP | IOSTANDARD = "LVTTL";

##########################################################
## A2 EXPANSION CONNECTOR
## SERDES CONNECTION

# CLOCK REF 30.7 MHz per SERDES

# Sets the attributes to an output differential pin pair
# NET <p_side_output_port_name> LOC=<pin_location> | IOSTANDARD=<io_standard_name>;
# NET <n_side_output_port_name> LOC=<pin_location> | IOSTANDARD=<io_standard_name>;
# -- | IOSTANDARD = "LVDS";
# NET "clkref_serdes_p" LOC = "A4" | IOSTANDARD = "LVDS_25"; # "LVDSEXT_25";
# NET "clkref_serdes_n" LOC = "B4" | IOSTANDARD = "LVDS_25"; # "LVDSEXT_25";
NET "clkref_serdes_p" LOC = "B13" | IOSTANDARD = "LVDS_25"; # "LVDSEXT_25";
NET "clkref_serdes_n" LOC = "A13" | IOSTANDARD = "LVDS_25"; # "LVDSEXT_25";

####  CLOCK E DATO SERIALI
## MDIO and MDC pins are 3.3V LVTTL compliant
## The MDIO pin requires a pull-up resistor 
NET "mdio_sda" LOC="D7" | PULLUP | IOSTANDARD = "LVTTL";
NET "mdio_scl" LOC="C8" | IOSTANDARD = "LVTTL";

##########################################################
## LED
NET "led<0>" LOC = "K12";
NET "led<1>" LOC = "P14";
NET "led<2>" LOC = "L12";
NET "led<3>" LOC = "N14";
NET "led<4>" LOC = "P13";
NET "led<5>" LOC = "N12";
NET "led<6>" LOC = "P12";
NET "led<7>" LOC = "P11";

##########################################################
## TASTI
NET "tasto<0>" LOC = "F12";
NET "tasto<1>" LOC = "G12";
NET "tasto<2>" LOC = "H14";
NET "tasto<3>" LOC = "H13";
NET "tasto<4>" LOC = "J14";
NET "tasto<5>" LOC = "J13";
NET "tasto<6>" LOC = "K14";
NET "tasto<7>" LOC = "K13";

########################################################## 
# 4 x 7 segment display:
NET "digit_out<0>" 	LOC = "D14";
NET "digit_out<1>" 	LOC = "G14";
NET "digit_out<2>" 	LOC = "F14";
NET "digit_out<3>" 	LOC = "E13";

NET "seg_out<0>" 	LOC = "P16";
NET "seg_out<1>" 	LOC = "N16";
NET "seg_out<2>" 	LOC = "F13";
NET "seg_out<3>" 	LOC = "R16";
NET "seg_out<4>" 	LOC = "P15";
NET "seg_out<5>" 	LOC = "N15";
NET "seg_out<6>" 	LOC = "G13";
NET "seg_out<7>" 	LOC = "E14";

##########################################################
#### PLASMA CPU ####
# NET "clk_reg1" TNM_NET = "clk_reg1";
# TIMESPEC "TS_clk_reg1" = PERIOD "clk_reg1" 39.9 ns HIGH 50 %;

#### RAM
## NET "ram_address<10>" LOC = "E3";
## NET "ram_address<11>" LOC = "E4";
## NET "ram_address<12>" LOC = "G5";
## NET "ram_address<13>" LOC = "H3";
## NET "ram_address<14>" LOC = "H4";
## NET "ram_address<15>" LOC = "J4";
## NET "ram_address<16>" LOC = "J3";
## NET "ram_address<17>" LOC = "K3";
## NET "ram_address<18>" LOC = "K5";
## NET "ram_address<19>" LOC = "L3";
## NET "ram_address<2>" LOC = "L5";
## NET "ram_address<3>" LOC = "N3";
## NET "ram_address<4>" LOC = "M4";
## NET "ram_address<5>" LOC = "M3";
## NET "ram_address<6>" LOC = "L4";
## NET "ram_address<7>" LOC = "G4";
## NET "ram_address<8>" LOC = "F3";
## NET "ram_address<9>" LOC = "F4";
## NET "ram_ce1_n" LOC = "P7";
## NET "ram_ce2_n" LOC = "N5";
## NET "ram_data<0>" LOC = "P2";
## NET "ram_data<10>" LOC = "G1";
## NET "ram_data<11>" LOC = "F5";
## NET "ram_data<12>" LOC = "C3";
## NET "ram_data<13>" LOC = "K2";
## NET "ram_data<14>" LOC = "M1";
## NET "ram_data<15>" LOC = "N1";
## NET "ram_data<16>" LOC = "N7";
## NET "ram_data<17>" LOC = "T8";
## NET "ram_data<18>" LOC = "R6";
## NET "ram_data<19>" LOC = "T5";
## NET "ram_data<1>" LOC = "N2";
## NET "ram_data<20>" LOC = "R5";
## NET "ram_data<21>" LOC = "C2";
## NET "ram_data<22>" LOC = "C1";
## NET "ram_data<23>" LOC = "B1";
## NET "ram_data<24>" LOC = "D3";
## NET "ram_data<25>" LOC = "P8";
## NET "ram_data<26>" LOC = "F2";
## NET "ram_data<27>" LOC = "H1";
## NET "ram_data<28>" LOC = "J2";
## NET "ram_data<29>" LOC = "L2";
## NET "ram_data<2>" LOC = "M2";
## NET "ram_data<30>" LOC = "P1";
## NET "ram_data<31>" LOC = "R1";
## NET "ram_data<3>" LOC = "K1";
## NET "ram_data<4>" LOC = "J1";
## NET "ram_data<5>" LOC = "G2";
## NET "ram_data<6>" LOC = "E1";
## NET "ram_data<7>" LOC = "D1";
## NET "ram_data<8>" LOC = "D2";
## NET "ram_data<9>" LOC = "E2";
## NET "ram_lb1_n" LOC = "P6";
## NET "ram_lb2_n" LOC = "P5";
## NET "ram_oe_n" LOC = "K4";
## NET "ram_ub1_n" LOC = "T4";
## NET "ram_ub2_n" LOC = "R4";
## NET "ram_we_n" LOC = "G3";

